
APIGateway/.vs/APIGateway/FileContentIndex/441764d4-7ff7-4e73-906b-c2abe120f07e.vsidx
APIGateway/.vs/APIGateway/FileContentIndex/83985c16-c6f3-451e-9de8-1b80a18b33b7.vsidx
APIGateway/.vs/APIGateway/FileContentIndex/882e220c-2c22-4e3d-9151-ce7ce1775afc.vsidx
APIGateway/.vs/APIGateway/FileContentIndex/93f39f40-5428-4037-8b0a-bf2e8f5c2010.vsidx
APIGateway/.vs/APIGateway/v17/.suo
APIGateway/bin/Debug/net6.0/APIGateway.dll
APIGateway/bin/Debug/net6.0/APIGateway.exe
APIGateway/bin/Debug/net6.0/APIGateway.pdb
APIGateway/bin/Debug/net6.0/FluentValidation.dll
APIGateway/bin/Debug/net6.0/Microsoft.AspNetCore.JsonPatch.dll
APIGateway/bin/Debug/net6.0/Microsoft.AspNetCore.MiddlewareAnalysis.dll
APIGateway/bin/Debug/net6.0/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
APIGateway/bin/Debug/net6.0/Microsoft.Extensions.DiagnosticAdapter.dll
APIGateway/bin/Debug/net6.0/Microsoft.OpenApi.dll
APIGateway/bin/Debug/net6.0/Newtonsoft.Json.Bson.dll
APIGateway/bin/Debug/net6.0/Newtonsoft.Json.dll
APIGateway/bin/Debug/net6.0/Ocelot.dll
APIGateway/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
APIGateway/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
APIGateway/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
APIGateway/obj/Debug/net6.0/APIGateway.AssemblyInfoInputs.cache
APIGateway/obj/Debug/net6.0/APIGateway.assets.cache
APIGateway/obj/Debug/net6.0/APIGateway.csproj.AssemblyReference.cache
APIGateway/obj/Debug/net6.0/APIGateway.csproj.CoreCompileInputs.cache
APIGateway/obj/Debug/net6.0/APIGateway.dll
APIGateway/obj/Debug/net6.0/APIGateway.genruntimeconfig.cache
APIGateway/obj/Debug/net6.0/APIGateway.MvcApplicationPartsAssemblyInfo.cache
APIGateway/obj/Debug/net6.0/APIGateway.pdb
APIGateway/obj/Debug/net6.0/apphost.exe
APIGateway/obj/Debug/net6.0/ref/APIGateway.dll
APIGateway/obj/Debug/net6.0/refint/APIGateway.dll
APIGateway/obj/project.nuget.cache
APIGateway/ocelot.dev.json
BIke-Network-bk/.vs/BIke-Network-bk/FileContentIndex/ba2e1069-a0fa-4225-8a8a-913f162ccf14.vsidx
BIke-Network-bk/.vs/BIke-Network-bk/FileContentIndex/c58b9699-cde9-4747-8c4d-c6ece2e8f27a.vsidx
BIke-Network-bk/.vs/BIke-Network-bk/FileContentIndex/c6dfeac2-032c-4a00-8876-7135bfd256f3.vsidx
BIke-Network-bk/.vs/BIke-Network-bk/v17/.suo
BIke-Network-bk/bin/Debug/net6.0/appsettings.Development.json
BIke-Network-bk/bin/Debug/net6.0/appsettings.json
BIke-Network-bk/bin/Debug/net6.0/Azure.Core.dll
BIke-Network-bk/bin/Debug/net6.0/BIke-Network-bk.deps.json
BIke-Network-bk/bin/Debug/net6.0/BIke-Network-bk.dll
BIke-Network-bk/bin/Debug/net6.0/BIke-Network-bk.exe
BIke-Network-bk/bin/Debug/net6.0/BIke-Network-bk.pdb
BIke-Network-bk/bin/Debug/net6.0/BIke-Network-bk.runtimeconfig.json
BIke-Network-bk/bin/Debug/net6.0/Cosmos.CRTCompat.dll
BIke-Network-bk/bin/Debug/net6.0/eafit-arch-firebase.json
BIke-Network-bk/bin/Debug/net6.0/Eafit.Bike.Model.dll
BIke-Network-bk/bin/Debug/net6.0/Eafit.Bike.Model.pdb
BIke-Network-bk/bin/Debug/net6.0/Eafit.Bike.Repository.dll
BIke-Network-bk/bin/Debug/net6.0/Eafit.Bike.Repository.pdb
BIke-Network-bk/bin/Debug/net6.0/Google.Api.CommonProtos.dll
BIke-Network-bk/bin/Debug/net6.0/Google.Api.Gax.dll
BIke-Network-bk/bin/Debug/net6.0/Google.Api.Gax.Grpc.dll
BIke-Network-bk/bin/Debug/net6.0/Google.Apis.Auth.dll
BIke-Network-bk/bin/Debug/net6.0/Google.Apis.Auth.PlatformServices.dll
BIke-Network-bk/bin/Debug/net6.0/Google.Apis.Core.dll
BIke-Network-bk/bin/Debug/net6.0/Google.Apis.dll
BIke-Network-bk/bin/Debug/net6.0/Google.Cloud.Firestore.dll
BIke-Network-bk/bin/Debug/net6.0/Google.Cloud.Firestore.V1.dll
BIke-Network-bk/bin/Debug/net6.0/Google.Cloud.Location.dll
BIke-Network-bk/bin/Debug/net6.0/Google.LongRunning.dll
BIke-Network-bk/bin/Debug/net6.0/Google.Protobuf.dll
BIke-Network-bk/bin/Debug/net6.0/Grpc.Auth.dll
BIke-Network-bk/bin/Debug/net6.0/Grpc.Core.Api.dll
BIke-Network-bk/bin/Debug/net6.0/Grpc.Net.Client.dll
BIke-Network-bk/bin/Debug/net6.0/Grpc.Net.Common.dll
BIke-Network-bk/bin/Debug/net6.0/Microsoft.AspNetCore.JsonPatch.dll
BIke-Network-bk/bin/Debug/net6.0/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
BIke-Network-bk/bin/Debug/net6.0/Microsoft.Azure.Cosmos.Client.dll
BIke-Network-bk/bin/Debug/net6.0/Microsoft.Azure.Cosmos.Core.dll
BIke-Network-bk/bin/Debug/net6.0/Microsoft.Azure.Cosmos.Direct.dll
BIke-Network-bk/bin/Debug/net6.0/Microsoft.Azure.Cosmos.Serialization.HybridRow.dll
BIke-Network-bk/bin/Debug/net6.0/Microsoft.Azure.Cosmos.ServiceInterop.dll
BIke-Network-bk/bin/Debug/net6.0/Microsoft.Azure.DocumentDB.Core.dll
BIke-Network-bk/bin/Debug/net6.0/Microsoft.Azure.Documents.ServiceInterop.dll
BIke-Network-bk/bin/Debug/net6.0/Microsoft.Bcl.AsyncInterfaces.dll
BIke-Network-bk/bin/Debug/net6.0/Microsoft.Bcl.HashCode.dll
BIke-Network-bk/bin/Debug/net6.0/Microsoft.OpenApi.dll
BIke-Network-bk/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
BIke-Network-bk/bin/Debug/net6.0/msvcp140.dll
BIke-Network-bk/bin/Debug/net6.0/Newtonsoft.Json.Bson.dll
BIke-Network-bk/bin/Debug/net6.0/Newtonsoft.Json.dll
BIke-Network-bk/bin/Debug/net6.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
BIke-Network-bk/bin/Debug/net6.0/runtimes/win-x64/native/Cosmos.CRTCompat.dll
BIke-Network-bk/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Azure.Cosmos.ServiceInterop.dll
BIke-Network-bk/bin/Debug/net6.0/runtimes/win-x64/native/msvcp140.dll
BIke-Network-bk/bin/Debug/net6.0/runtimes/win-x64/native/vcruntime140.dll
BIke-Network-bk/bin/Debug/net6.0/runtimes/win-x64/native/vcruntime140_1.dll
BIke-Network-bk/bin/Debug/net6.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
BIke-Network-bk/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
BIke-Network-bk/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
BIke-Network-bk/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
BIke-Network-bk/bin/Debug/net6.0/runtimes/win7-x64/native/Cosmos.CRTCompat.dll
BIke-Network-bk/bin/Debug/net6.0/runtimes/win7-x64/native/Microsoft.Azure.Documents.ServiceInterop.dll
BIke-Network-bk/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
BIke-Network-bk/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
BIke-Network-bk/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
BIke-Network-bk/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
BIke-Network-bk/bin/Debug/net6.0/System.Drawing.Common.dll
BIke-Network-bk/bin/Debug/net6.0/System.Linq.Async.dll
BIke-Network-bk/bin/Debug/net6.0/System.Memory.Data.dll
BIke-Network-bk/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
BIke-Network-bk/bin/Debug/net6.0/System.Security.Permissions.dll
BIke-Network-bk/bin/Debug/net6.0/System.Windows.Extensions.dll
BIke-Network-bk/bin/Debug/net6.0/vcruntime140.dll
BIke-Network-bk/bin/Debug/net6.0/vcruntime140_1.dll
BIke-Network-bk/obj/Debug/net6.0/_IsIncrementalBuild
BIke-Network-bk/obj/Debug/net6.0/apphost.exe
BIke-Network-bk/obj/Debug/net6.0/BIke-Network-bk.AssemblyInfoInputs.cache
BIke-Network-bk/obj/Debug/net6.0/BIke-Network-bk.assets.cache
BIke-Network-bk/obj/Debug/net6.0/BIke-Network-bk.csproj.AssemblyReference.cache
BIke-Network-bk/obj/Debug/net6.0/BIke-Network-bk.csproj.CopyComplete
BIke-Network-bk/obj/Debug/net6.0/BIke-Network-bk.csproj.CoreCompileInputs.cache
BIke-Network-bk/obj/Debug/net6.0/BIke-Network-bk.dll
BIke-Network-bk/obj/Debug/net6.0/BIke-Network-bk.genruntimeconfig.cache
BIke-Network-bk/obj/Debug/net6.0/BIke-Network-bk.MvcApplicationPartsAssemblyInfo.cache
BIke-Network-bk/obj/Debug/net6.0/BIke-Network-bk.MvcApplicationPartsAssemblyInfo.cs
BIke-Network-bk/obj/Debug/net6.0/BIke-Network-bk.pdb
BIke-Network-bk/obj/Debug/net6.0/ref/BIke-Network-bk.dll
BIke-Network-bk/obj/Debug/net6.0/refint/BIke-Network-bk.dll
BIke-Network-bk/obj/Debug/net6.0/staticwebassets.build.json
BIke-Network-bk/obj/project.nuget.cache
Eafit.Bike.Model/bin/Debug/netcoreapp3.1/Eafit.Bike.Model.deps.json
Eafit.Bike.Model/bin/Debug/netcoreapp3.1/Eafit.Bike.Model.dll
Eafit.Bike.Model/bin/Debug/netcoreapp3.1/Eafit.Bike.Model.pdb
Eafit.Bike.Model/obj/Debug/netcoreapp3.1/_IsIncrementalBuild
Eafit.Bike.Model/obj/Debug/netcoreapp3.1/Eafit.Bike.Model.AssemblyInfoInputs.cache
Eafit.Bike.Model/obj/Debug/netcoreapp3.1/Eafit.Bike.Model.assets.cache
Eafit.Bike.Model/obj/Debug/netcoreapp3.1/Eafit.Bike.Model.csproj.AssemblyReference.cache
Eafit.Bike.Model/obj/Debug/netcoreapp3.1/Eafit.Bike.Model.csproj.CoreCompileInputs.cache
Eafit.Bike.Model/obj/Debug/netcoreapp3.1/Eafit.Bike.Model.dll
Eafit.Bike.Model/obj/Debug/netcoreapp3.1/Eafit.Bike.Model.pdb
Eafit.Bike.Model/obj/project.nuget.cache
Eafit.Bike.Repository/bin/Debug/netcoreapp3.1/Cosmos.CRTCompat.dll
Eafit.Bike.Repository/bin/Debug/netcoreapp3.1/Eafit.Bike.Model.dll
Eafit.Bike.Repository/bin/Debug/netcoreapp3.1/Eafit.Bike.Model.pdb
Eafit.Bike.Repository/bin/Debug/netcoreapp3.1/Eafit.Bike.Repository.deps.json
Eafit.Bike.Repository/bin/Debug/netcoreapp3.1/Eafit.Bike.Repository.dll
Eafit.Bike.Repository/bin/Debug/netcoreapp3.1/Eafit.Bike.Repository.pdb
Eafit.Bike.Repository/bin/Debug/netcoreapp3.1/Microsoft.Azure.Cosmos.ServiceInterop.dll
Eafit.Bike.Repository/bin/Debug/netcoreapp3.1/Microsoft.Azure.Documents.ServiceInterop.dll
Eafit.Bike.Repository/bin/Debug/netcoreapp3.1/msvcp140.dll
Eafit.Bike.Repository/bin/Debug/netcoreapp3.1/vcruntime140.dll
Eafit.Bike.Repository/bin/Debug/netcoreapp3.1/vcruntime140_1.dll
Eafit.Bike.Repository/obj/Debug/netcoreapp3.1/_IsIncrementalBuild
Eafit.Bike.Repository/obj/Debug/netcoreapp3.1/Eafit.Bike.Repository.AssemblyInfoInputs.cache
Eafit.Bike.Repository/obj/Debug/netcoreapp3.1/Eafit.Bike.Repository.assets.cache
Eafit.Bike.Repository/obj/Debug/netcoreapp3.1/Eafit.Bike.Repository.csproj.AssemblyReference.cache
Eafit.Bike.Repository/obj/Debug/netcoreapp3.1/Eafit.Bike.Repository.csproj.CopyComplete
Eafit.Bike.Repository/obj/Debug/netcoreapp3.1/Eafit.Bike.Repository.csproj.CoreCompileInputs.cache
Eafit.Bike.Repository/obj/Debug/netcoreapp3.1/Eafit.Bike.Repository.dll
Eafit.Bike.Repository/obj/Debug/netcoreapp3.1/Eafit.Bike.Repository.pdb
Eafit.Bike.Repository/obj/project.nuget.cache
*.v2
*.1
